<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-item">
      <strong>Телефон</strong>
      <p>+38 (096) 534-19-74</p>
    </div>
    <div class="footer-item">
      <strong>Email</strong>
      <p>rsavchenko2002&#64;yahoo.com</p>
    </div>
    <div class="footer-item">
      <strong>Ми в соціальних мережах</strong>
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank">
          <img src="./assets/facebook-logo.png" alt="Facebook" />
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <img src="./assets/linkedin-logo.png" alt="LinkedIn" />
        </a>
      </div>
    </div>
  </div>
</footer>
