<div class="page-content">
  <div class="info">
    <div class="background-overlay"></div>
    <div class="stability-trust">
      <div class="side-picture">
        <img src="pen-image.jpg" alt="Pen" class="side-picture-image" />
      </div>
      <div class="info-section">
        <h2>Стабільність і довіра</h2>
        <p>
          Стабільність досягається через дотримання облікових стандартів та регулярність фінансових процедур,
          тоді як довіра ґрунтується на точності, відповідальності та етичності в обробці фінансових даних.
          Високий рівень стабільності й довіри в бухгалтерському обліку забезпечує впевненість інвесторів,
          партнерів та клієнтів у фінансовій стійкості компанії та її здатності виконувати свої зобов’язання.
        </p>
      </div>
    </div>
    <div class="stability-trust">
      <div class="info-section">
        <h2>Савченко Роман Олександрович</h2>
        <ul>
          <li>Кандидат економічних наук</li>
          <li>Практичний досвід роботи головним бухгалтером понад 10 років</li>
          <li>
            Сертифікований викладач ЦСН, курс "Використання прикладного рішення "Бухгалтерія", реєстраційний
            номер CSOBU12000010 від 11 квітня 2019
          </li>
          <li>Консультант з питань ведення бухгалтерського обліку та оподаткування</li>
          <li>Експерт з автоматизації обліку в ТОВ, ФОП, організацій бюджетної сфери</li>
        </ul>
      </div>
      <div class="side-picture">
        <img src="roman.jpg" alt="Roman" class="side-picture-image" />
      </div>
    </div>
  </div>
</div>
